@{
    Layout = "";
    var id = ViewContext.RouteData.Values["id"];
}
@model Shahajjokori.Models.Fundraiser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="assets/css/login.css">
    <style>
        a {
            color: #2F4F4F;
        }

            a:hover {
                //border: 1px solid #4FA9DC;
                color: #2F4F4F;
                font-weight: bold;
            }

            a:active {
            }

        .active {
            //background: #4FA9DC;
            //color: white;
            font-weight: bold;
            border-bottom: 1px solid #2F4F4F;
        }

        h1, a, h3, p {
            font-family: 'B612', sans-serif;
            font-family: 'IBM Plex Serif', serif;
            font-family: 'Karla', sans-serif;
            font-family: 'Varela', sans-serif;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" style="margin-left: 2%;">
                <div style="text-align:center; margin-top:3%;">
                    <h1 style="text-decoration: underline; text-decoration-color: darkgreen;">Shahajjokori</h1>
                </div>
            </div>
            <div class="col-md-8">
                <div style="text-align:center; margin-top:3%;">
                    <h2>Fundraiser Panel</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:5%">
        <div class="row">
            <main role="main" class="col-md-3" style=" margin-bottom:5%;">
                <nav class="nav" style="margin-left: 35%;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("fundraiser_index","Fundraiser",  new { id = id})">User Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Create_Event","Fundraiser",  new { id = id})">Create Event</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("See_Events","Fundraiser", new { id = id})">See Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Notification","Fundraiser", new { id = id})">Updates of Donations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Notification_from_admin","Fundraiser", new { id = id})">Notification from Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Create_Local_Event","Fundraiser", new { id = id})">Add Local Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Log_out","Fundraiser")">Log out</a>
                            
                        </li>
                        <!--
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Home")">Log out</a>
        <script type="text/javascript">
            function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };
        </script>
    </li>-->
                    </ul>
                </nav>

            </main>
            <main role="main" class="col-md-6" style="margin-left: 5%; margin-right: 5%;">

                <table class="table">
                    <tbody>
                        <tr>
                            <td><p>Name</p></td>
                            <td><p>@ViewBag.fun_name</p></td>
                        </tr>
                        <tr>
                            <td><p>Email</td>
                            <td><p>@Html.DisplayFor(model => model.f_email)</p></td>
                        </tr>
                       
                        <tr>
                            <td><p>Phone</td>
                            <td><p>@Html.DisplayFor(model => model.f_phone)</p></td>
                        </tr>
                        <tr>
                            <td><p>About</td>
                            <td><p>@Html.DisplayFor(model => model.f_about)</p></td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal2">Edit Info</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal3">Edit Password</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </main>


        </div>

    </div>

    <footer class="border-top footer text-muted" style="position: absolute; bottom: 0; width: 100%; white-space: nowrap; line-height:100px;">
        <div class="container">
            &copy; 2021 - Shahajjokori - <a href="@Url.Action("fundraiser_index","Fundraiser",  new { id = id})">User Info</a> - <a href="@Url.Action("Create_Event","Fundraiser",  new { id = id})">Create Event</a> - <a href="@Url.Action("See_Events","Fundraiser", new { id = id})">See Events</a> - <a href="@Url.Action("Notification","Fundraiser", new { id = id})">Updates of Donations</a> - <a href="@Url.Action("Notification_from_admin","Fundraiser", new { id = id})">Notification from Admin</a> - <a href="@Url.Action("Create_Local_Event","Fundraiser", new { id = id})">Add Local Event</a>
        </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User Info</h5>

                </div>
                <div class="modal-body">
                    <form asp-action="Update_info_fundraiser" method="post">
                        <div class="form-group">
                            
                            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" asp-for="f_id" type="hidden">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" asp-for="f_name">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" asp-for="f_email" required>

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number" asp-for="f_phone" required>
                            <small id="emailHelp" class="form-text text-muted">Your phone number will be available with your event.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">About</label>
                            <textarea class="form-control" rows="5" id="exampleInputEmail1" placeholder="Write something about you or your organization" asp-for="f_about"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" href="@Url.Action("Update_info_fundraiser","Fundraiser")" style="margin-top:5%">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User Password</h5>

                </div>
                <div class="modal-body">
                    <form asp-action="Update_info_fundraiser_password" method="post">
                        <div class="form-group">

                            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" asp-for="f_id" type="hidden">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Old Password</label>
                            <input class="form-control" id="exampleInputPassword1" placeholder="Enter password" asp-for="f_password" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password</label>
                            <input class="form-control" id="exampleInputPassword1" placeholder="Enter password" asp-for="f_password1" required>
                        </div>


                        <button type="submit" class="btn btn-primary" href="@Url.Action("Update_info_fundraiser_password","Fundraiser")" style="margin-top:5%">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

