@{ Layout = ""; }

@model List<Event>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="assets/css/login.css">
    <style>
        a {
            color: #2F4F4F;
        }

            a:hover {
                color: #2F4F4F;
                font-weight: bold;
            }

            a:active {
            }

        .active {
            font-weight: bold;
            border-bottom: 1px solid #2F4F4F;
        }

        h1, a, h3, p {
            font-family: 'B612', sans-serif;
            font-family: 'IBM Plex Serif', serif;
            font-family: 'Karla', sans-serif;
            font-family: 'Varela', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" style="margin-left: 2%;">
                <div style="text-align:center; margin-top:3%;">
                    <h1 style="text-decoration: underline; text-decoration-color: darkgreen;">Shahajjokori</h1>
                </div>
            </div>
            <div class="col-md-8">
                <div style="text-align:center; margin-top:3%;">
                    <h2>Admin Panel</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:5%">
        <div class="row">
            <main role="main" class="col-md-3" style=" margin-bottom:5%;">
                <nav class="nav" style="margin-left: 35%;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("admin_index","Admin")">Admin Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Event_Request","Admin")">Event Request</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Approved_Events","Admin")">Approved Events</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Halted_Events","Admin")">Halted Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Event_Success","Admin")">Successful Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Local_Events_Shown","Admin")">Local Events Shown</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Local_Events_Halted","Admin")">Local Events Halted</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Edit_Info","Admin")">Edit Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Home")">Log out</a>
                            <script type="text/javascript">
                                function preventBack() { window.history.forward(); }
                                setTimeout("preventBack()", 0);
                                window.onunload = function () { null };
                            </script>
                        </li>
                    </ul>
                </nav>

            </main>
            <main role="main" class="col-md-8" style="margin-left: 2%; margin-right: 2%;">
                @if (Model.Count == 0)
                {
    <h5>No events have been approved yet</h5>}
                @foreach (var e in Model)
                {
    <table class="table table-striped table-bordered">

        <tr class="thead-light">
            <td>Event Name</td>
            <td>@e.e_title</td>
        </tr>
        
        <tr class="thead-light">
            <td>Category</td>
            @if (e.e_category == 0)
            {
<td>Education</td>}
            @if (e.e_category == 1)
            {
<td>Sponsoring</td>}
            @if (e.e_category == 2)
            {
<td>Emergency Aid</td>}
            @if (e.e_category == 3)
            {
<td>Medical Care</td>}
            @if (e.e_category == 4)
            {
<td>Accidents</td>}
            @if (e.e_category == 5)
            {
<td>Others</td>}

        </tr>
        <tr class="thead-light">
            <td>Location</td>
            <td>@e.e_location</td>
        </tr>
        <tr class="thead-light">
            <td>Opening Date</td>
            <td>@e.e_opening_date</td>
        </tr>
        <tr class="thead-light">
            <td>Closing Date</td>
            <td>@e.e_closing_date</td>
        </tr>
        <tr class="thead-light">
            <td>Expected Amount</td>
            <td>@e.e_exp_amount</td>
        </tr>
        <tr class="thead-light">
            <td>Raised Amount</td>
            <td>@e.e_raised_amount</td>
        </tr>
        <tr class="thead-light">
            <td>Donor Count</td>
            <td>@e.e_donor_count</td>
        </tr>
        <tr class="thead-light">
            <td>Event Details</td>
            <td>@e.e_details</td>
        </tr>
        <tr class="thead-light">
            <td>Event Transactions</td>
            <td>@e.e_trans</td>
        </tr>
        <tr class="thead-light">
            <td>Event Pic</td>
            @{ string path = "~/images/" + e.e_pic; }

            <td><img src="@path" alt="logo" style="display: block; height: auto; max-width: 100%;" asp-append-version="true"></td>
        </tr>

        <tr class="thead-light">
            <td>Action</td>
            <td>
                <form asp-action="Event_state_handle_halt" method="post">

                    <button type="submit" class="btn btn-warning" asp-controller="Admin" asp-action="Event_state_handle_halt" asp-route-id="@e.e_id">Halt</button>

                </form>
            </td>
        </tr>

    </table>}
            </main>

        </div>

    </div>
    <footer class="border-top footer text-muted" style="position: absolute; bottom: 0; width: 100%; white-space: nowrap; line-height:100px;">
        <div class="container">
            &copy; 2021 - Shahajjokori - <a href="@Url.Action("admin_index","Admin")">Admin Info</a> - <a href="@Url.Action("Event_Request","Admin")">Event Request</a> - <a href="@Url.Action("Approved_Events","Admin")">Approved Events</a> - <a href="@Url.Action("Halted_Events","Admin")">Halted Events</a> - <a href="@Url.Action("Event_Success","Admin")">Successful Events</a> - <a href="@Url.Action("Local_Events_Shown","Admin")">Local Events Shown</a> - <a href="@Url.Action("Local_Events_Halted","Admin")">Local Events Halted</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


