@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{  }

@model Shahajjokori.Models.Event
<!--<h1>@ViewBag.event_id</h1>-->

<div style="background-color: #fff5ee;">
    <div class="container" style="padding-top: 5%;">
        <div class="row">
            <div class="col-md-12">
                <h3>@Html.DisplayFor(model => model.e_title)</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 3%;">
            <div class="col-md-6" style="margin-bottom:5%;">
                <p style="font-size:larger">Created by: @ViewBag.org<button class="btn btn-link" data-toggle="modal" data-target="#exampleModal1" onclick="Copy2();" style="font-size:19px; text-decoration: none; margin-bottom:0.5%; color:black;"><i class="fas fa-info-circle"></i></button></p>
                <script type="text/javascript">
                    function Copy2() {
                        number.innerHTML='0'+@ViewBag.org_phone;

                    }
                </script>
                <p style="font-size:larger; margin-top:-2%;">Location: @Html.DisplayFor(model => model.e_location)</p>

                @if (ViewBag.event_cat == 0)
                {
                <p style="font-size:larger">Category: Education</p>
                }
                @if (ViewBag.event_cat == 1)
                {
                <p style="font-size:larger">Category: Sponsoring</p>
                }
                @if (ViewBag.event_cat == 2)
                {
                <p style="font-size:larger">Category: Emergency Aid</p>
                }
                @if (ViewBag.event_cat == 3)
                {
                <p style="font-size:larger">Category: Medical Care</p>
                }
                @if (ViewBag.event_cat == 4)
                {
                <p style="font-size:larger">Category: Accidents</p>
                }
                @if (ViewBag.event_cat == 5)
                {
                <p style="font-size:larger">Category: Others</p>
                }    
                
                <p style="font-size:larger">Opening: @Html.DisplayFor(model => model.e_opening_date)</p>

                <p style="font-size:larger">Closing: @Html.DisplayFor(model => model.e_closing_date) | @ViewBag.r_days</p>

                <p style="font-size:large;">Raised <span style="font-size:xx-large;">@ViewBag.raised_amount</span> Tk. out of @ViewBag.exp_amount</p>
                <div class="progress" style="margin-top: 5%; height:8px;">
                    @{ float raised = (float)ViewBag.raised_amount;
                                    float exp = (float)ViewBag.exp_amount;
                                    float percentage = (raised / exp) * 100;
                                    string perc = percentage + "%"; }
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="@ViewBag.raised_amount" aria-valuemin="0" aria-valuemax="@ViewBag.exp_amount" style="width:@perc; height:8px;">
                        
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                @{ string pic_name = ViewBag.event_pic;
                                string path = $"~/images/{pic_name}"; }

                <img class="img-fluid" src="@path" alt="" style="height: 320px; width: 800px;" asp-append-version="true">

                <p style="font-size:larger; margin-top: 3%;">This event has received @Html.DisplayFor(model => model.e_donor_count) donations</p>
                <br />
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal2" style="margin-right:5%;">I want to Donate</button><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal3" onclick="Copy();">Share</button>
                <script type="text/javascript">
                    function Copy() {
                        urlCopied.innerHTML = window.location.href;

                    }
                </script>
                
            </div>
        </div>
        <div class="row" style="margin-top: 5%; padding-bottom:5%;">
            <div class="col-md-12">
                <h4>About the Event: </h4>
                <p style="font-size:larger">@Html.DisplayFor(model => model.e_details)</p>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewBag.org</h5>

            </div>
            <div class="modal-body">
                <div>
                    @ViewBag.org_about
                    <textarea id="number" style="width:-1%; height:-1px;"></textarea>
                </div>
                <br />
                <div>
                    <p>Contact Number: @ViewBag.org_phone</p>
                </div>
            </div>

            <div class="modal-footer">
                <button onclick="myFunction()" style="border: none; background-color: transparent;">Copy Number</button>
                <script>
                    function myFunction() {
                        var copyText = document.getElementById("number");
                        copyText.select();
                        //copyText.setSelectionRange(0, 99999)
                        document.execCommand("copy");
                        alert("Copied the number: " + copyText.value);
                    }
                </script>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewBag.e_title</h5>
            </div>
            <div class="modal-body" style="white-space:pre-line;">
                <p>Available accounts for transaction:</p>
                <p>@ViewBag.event_trans</p>
            </div>

            <div class="modal-footer" style="text-align:center;">

                <a class="btn btn-primary" asp-controller="Home" asp-action="Donated" asp-route-id="@ViewBag.event_id" style="margin-top:5%">I have donated</a>

                <!--<input class="modal-footer" id="myInput" value="@ViewBag.org_phone" style="border: none; background-color: transparent;" readonly>-->
                <!--<button onclick="myFunction()" style="border: none; background-color: transparent;">Copy Number</button>-->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewBag.e_title</h5>
            </div>
            <div class="modal-body">
                <textarea id="urlCopied" style="width:100%;"></textarea>
                <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook" style="padding: 10px 5px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px; background: #3B5998; color: white;"></a>
                <a href="https://twitter.com" target="_blank" class="fa fa-twitter" style="padding: 10px 5px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px; background: #55ACEE;color: white;"></a>
                <a href="https://linkedin.com" target="_blank" class="fa fa-linkedin" style="padding: 10px 5px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px; background: #007bb5;color: white;"></a>
                <a href="https://instagram.com" target="_blank" class="fa fa-instagram" style="padding: 10px 5px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px; background: #125688;color: white;"></a>
            </div>

            <div class="modal-footer" style="text-align:center;">

               
                    <button onclick="myFunction2()" style="border: none; background-color: transparent;">Copy link</button>
                    <script>
                        function myFunction2() {
                            var copyText = document.getElementById("urlCopied");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999)
                            document.execCommand("copy");
                            //alert("Copied the link: " + copyText.value);
                        }
                    </script>
               

                <!--<input class="modal-footer" id="myInput" value="@ViewBag.org_phone" style="border: none; background-color: transparent;" readonly>-->
                <!--<button onclick="myFunction()" style="border: none; background-color: transparent;">Copy Number</button>-->
            </div>
        </div>
    </div>
</div>




