@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ // var test = Context.GetRouteData().Values["id"];
    Layout = "_Layout"; }
@model List<Event>

<div class="container-fluid" style="text-align: center; background-color: #fff5ee;">
    <div class="row" style="padding-top: 5%; margin-bottom: 3%;">
        <div class="col-md-12" style="text-align: center;">
            <h2 style="text-decoration: underline; text-decoration-color:cadetblue;">Success Stories</h2>
        </div>
    </div> 
    @foreach (var e in Model)
    {
    <div class="row" style="text-align: left;">

            <div class="col-md-5" style="margin-bottom: 5%; margin-left:10%;">
                @{ string pic_name = e.e_pic;
                    string path1 = $"~/images/{pic_name}"; }

                <img src="@path1" alt="" style="height: 20vw; width: 500px;" asp-append-version="true">

            </div>
            <div class="col-md-5">
                <h4>@e.e_title</h4>
                <p style="font-size:large">The event was created in @e.e_opening_date and closed in @e.e_closing_date. It was located in @e.e_location.</p>
                <p style="font-size:large">@e.e_details</p>
                <p style="font-size:large">They managed to raise @e.e_raised_amount Tk. with us with the help of @e.e_donor_count donations!</p><br>
            </div>
        

    </div>

        
    }

</div>
            




