@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

@model Shahajjokori.Models.Local_Event
<!--<h1>@ViewBag.event_id</h1>-->
<div style="background-color: #FDF5E6;">
    <div class="container" style="padding-top: 5%;">
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-decoration: underline;text-decoration-color: cadetblue">@Html.DisplayFor(model => model.le_title)</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 3%;">
            <div class="col-md-6" style="margin-bottom:5%;">
                <p style="font-size:large;">Organized by: @Html.DisplayFor(model => model.le_org_by)</p>

                <p style="font-size:large;margin-top:-1%;">Shared by: @ViewBag.org<button class="btn btn-link" data-toggle="modal" data-target="#exampleModal1" onclick="Copy2();" style="font-size:19px; text-decoration: none; margin-bottom:0.5%; color:black;"><i class="fas fa-info-circle"></i></button></p>
                <script type="text/javascript">
                    function Copy2() {
                        number.innerHTML='0'+@ViewBag.org_phone;

                    }
                </script>

                <p style="font-size:large; margin-top:-2%;">Location: @Html.DisplayFor(model => model.le_location)</p>

                <p style="font-size:large">Opening: @Html.DisplayFor(model => model.le_opening_date)</p>

                <p style="font-size:large">Closing: @Html.DisplayFor(model => model.le_closing_date) | @ViewBag.r_days</p>
                <br>


            </div>
            <div class="col-md-6">
                @{ string pic_name = ViewBag.event_pic;
                    string path = $"~/images/{pic_name}"; }

                <img class="img-fluid" src="@path" alt="" style="height: 320px; width: 800px;" asp-append-version="true">
                <br>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal3" onclick="Copy();" style="margin-top:5%;">Share</button>
                <script type="text/javascript">
                    function Copy() {
                        urlCopied.innerHTML = window.location.href;
                        urlCopied.innerHTML = urlCopied.innerHTML.replace("Donor", "Home");
                        urlCopied.innerHTML = urlCopied.innerHTML.split('?')[0];
                    }
                </script>
            </div>

        </div>
        <div class="row" style="margin-top: 5%; padding-bottom: 5%;">
            <div class="col-md-12">
                <h3>About the Event: </h3>
                <p style="font-size:large">@Html.DisplayFor(model => model.le_details)</p>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewBag.org</h5>

            </div>
            <div class="modal-body">
                @ViewBag.org_about
            </div>

            <div class="modal-footer">
                Contact: @ViewBag.org_phone
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewBag.e_title</h5>
            </div>
            <div class="modal-body">
                <textarea id="urlCopied" style="width:100%;"></textarea>
                <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook" style="padding: 10px 5px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px; background: #3B5998; color: white;"></a>
                <a href="https://twitter.com" target="_blank" class="fa fa-twitter" style="padding: 10px 5px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px; background: #55ACEE;color: white;"></a>
                <a href="https://linkedin.com" target="_blank" class="fa fa-linkedin" style="padding: 10px 5px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px; background: #007bb5;color: white;"></a>
                <a href="https://instagram.com" target="_blank" class="fa fa-instagram" style="padding: 10px 5px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px; background: #125688;color: white;"></a>
            </div>

            <div class="modal-footer" style="text-align:center;">


                <button onclick="myFunction2()" style="border: none; background-color: transparent;">Copy link</button>
                <script>
                    function myFunction2() {
                        var copyText = document.getElementById("urlCopied");
                        copyText.select();
                        copyText.setSelectionRange(0, 99999)
                        document.execCommand("copy");
                        //alert("Copied the link: " + copyText.value);
                    }
                </script>


                <!--<input class="modal-footer" id="myInput" value="@ViewBag.org_phone" style="border: none; background-color: transparent;" readonly>-->
                <!--<button onclick="myFunction()" style="border: none; background-color: transparent;">Copy Number</button>-->
            </div>
        </div>
    </div>
</div>




<footer style=" bottom: 0; width: 100%; white-space: nowrap; line-height:100px;">
    <div class="container">
        &copy; 2021 - Shahajjokori - <a style="color:black" asp-controller="Donor" asp-action="donor_index" asp-route-id="@ViewBag.d_id">@ViewBag.d_name</a> - <a style="color:black" asp-controller="Donor" asp-action="DonationHistory" asp-route-id="@ViewBag.d_id">Donation History</a> - <a style="color:black" asp-controller="Donor" asp-action="Donor_Notification" asp-route-id="@ViewBag.d_id">Notification</a>
    </div>
</footer>

